body{
    margin: 0;
    font-family: 'Poppins';
}

header, footer{
    background: #ed145b;
    margin: 0;
    text-align: center;
}

h1, p{
    margin: 0;
}

header{
    padding: 2rem;
}

footer{
    padding: 1rem;
}

/* O display flex deixa automaticamente todos os "filhos" dele em linha, 
que nesse casos os filhos são as duas sections de horário e fale comigo.

O justify-content determina onde os itens vão ficar horizontalmente, pra centralizar é só colocar center, 
nesse caso o space-around deixa um espaço entre os itens e ao redor deles tbm*/
main{
    display: flex;
    justify-content: space-around;
}

#horario{
    width: 100%;
    margin: 2rem 0 2rem 5rem;
}

#contato{
    margin: 2rem 5rem;
}

h2{
    text-align: center;
}

h1, h2, footer{
    font-family: 'Abyssinica SIL', serif;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #7dbeff;
}

td, th{
    padding: .75rem; /* mesma coisa que 0.75rem */
}

/* seleciona todos os itens ímpares tr filhos do tbody */
tbody tr:nth-child(odd){
    background-color: #eee;
}

/* seleciona todos os itens pares tr filhos do tbody */
tbody tr:nth-child(even){
    background: #ccc;
}

form{
    background-color: #eee;
    padding: 2rem;
    margin-bottom: 1rem
}

label{
    width: 100%;
    display: inline-block;
}

input, textarea{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: solid 1px #777;
    padding: 7px;
}